$mainColor = #0274B1

// colors
$accentColor = $mainColor
$textColor = #314659
$borderColor = #e8e8e8
$codeBgColor = #f2f4f5
$arrowBgColor = #fff
$headerColor = #0d1a26

// layout
$navbarHeight = 4rem
$sidebarWidth = 18.5rem
$contentWidth = 847px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
$MQTablet = 1024px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py

@import '~@temp/override.styl'
