$mainColor = #0274B1

// colors
$accentColor = $mainColor
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #f2f4f5
$arrowBgColor = #ccc

// layout
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
