$wrapper
  max-width $contentWidth
  margin 0 6rem
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    margin 0 0
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    margin 0 0
    padding 1.5rem
  @media (max-width: $MQTablet)
    margin 0 0

